// LIGHT theme is defined under the :root.
:root {
  --color-background: hsl(0 0 100%);
  --color-paper: hsl(0 0 98%);
  --color-primary: hsl(0 0 15%);
  --color-primary-content: hsl(0 0 100%);
  --color-primary-focus: hsl(0 0 20% / 50%);
  --color-primary-hover: hsl(0 0 22%);
  --color-primary-text: hsl(0 0 10%);
  --color-secondary: hsl(0 0 90%);
  --color-secondary-content: hsl(0 0 10%);
  --color-secondary-focus: hsl(0 0 20% / 50%);
  --color-secondary-hover: hsl(0 0 86%);
  --color-secondary-text: hsl(0 0 32%);
  --color-disabled: hsl(0 0 35%);
  --color-disabled-content: hsl(0 0 100%);
  --color-danger: hsl(5 50% 45%);
  --color-danger-content: hsl(0 0 100%);
  --color-danger-focus: hsl(5 50% 45%);
  --color-danger-hover: hsl(5 50% 50%);
}

// DARK theme is defined under the .dark custom class.
.dark {
  --color-background: hsl(0 0 5%);
  --color-paper: hsl(0 0 15%);
  --color-glass: hsl(0 0 15% / 50%);
  --color-primary: hsl(0 0 100%);
  --color-primary-content: hsl(0 0 10%);
  --color-primary-focus: hsl(0 0 100% / 50%);
  --color-primary-hover: hsl(0 0 90%);
  --color-primary-text: hsl(0 0 100%);
  --color-secondary: hsl(0 0 30%);
  --color-secondary-content: hsl(0 0 100%);
  --color-secondary-focus: hsl(0 0 100% / 50%);
  --color-secondary-hover: hsl(0 0 35%);
  --color-secondary-text: hsl(0 0 78%);
  --color-disabled: hsl(0 0 45%);
  --color-disabled-content: hsl(0 0 100%);
  --color-danger: hsl(5 50% 45%);
  --color-danger-content: hsl(0 0 100%);
  --color-danger-focus: hsl(5 50% 55%);
  --color-danger-hover: hsl(5 50% 50%);
}