@use "../base/utils" as *;

// Button Global Variables
$box-size: 10;
$box-padding: 4; 

// Button Base Class
.btn {
  display: grid;
  place-content: center;
  border-radius: get-radius("content");
  transition:
    color .2s ease,
    background-color .2s ease,
    outline-color .2s ease,
    transform .1s ease;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  @include use-focus("provider");
  &:disabled {
    color: get-color("disabled", "content");
    background-color: get-color("disabled");
    cursor: not-allowed
  }
}

// Button Sizes
.btn-base {
  height: get-size($box-size);
  padding: 0 get-size($box-padding);
  &:enabled {
    &:active {
      @include use-scale(.95);
    }
  }
}
.btn-icon {
  height: get-size($box-size);
  width: get-size($box-size);
  padding: 0;
  flex-shrink: 0;
  &:enabled {
    &:active {
      @include use-scale(.92);
    }
  }
}

// Button Colors
@each $color in ("primary", "secondary", "danger") {
  .btn-#{$color} {
    color: get-color($color, "content");
    background-color: get-color($color);
    &:enabled {
      &:hover {
        background-color: get-color($color, "hover");
      }
    }
    &:focus-visible {
      @include use-focus($color);
    }
  }
}
